/* Resetando margin e padding de todos os elementos */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Config geral */
body,html{
    width: 100%;
    height: 100%;
}

/* Modificando o tamanho do texto "Game Over" */
#painel>h5{
    font-size: 2em;
    color: red;
}

/* Estilo geral da pontuação */
#placar{
    background-color: #fffA;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* Estilo do numero da pontuação */
#placar>span{
    font-size: 2em;
}

/* Config da nave Player, usado Zindex=3 para evitar contato com background */
.nave{
	position: fixed;
	z-index: 3;	
} 