*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html, body{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
}

body{
    display: grid;
    grid-template-areas: 't t'
                         'v r'
                         'f f';
    grid-template-rows: 70px 1fr 30px;
    grid-template-columns: 3fr 1fr;
   
}

#topo{
    grid-area: t;
    background-color: rgba(83, 82, 82, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

#topo nav ul{
    display: flex;
    justify-content: right;
    align-items: center;
}

#menu li a{
    color: white;
    font-weight: bold;
    padding: 15px;
}

#menu li a:hover{
    background-color: white;
    color: rgba(83, 82, 82, 0.5);
}

#logo{
    line-height: 50px;
    

}

#logo img{
    height: 50px;
    float: left;
    margin-right: 10px;
}

#player{
    grid-area: v;
    padding: 20px;
}

#player video{
    width: 100%;
}

#player textarea{
    width: 100%;
    min-height: 200px;
    padding: 20px;
}

#relacionados{
    grid-area: r;
    padding: 20px;
    max-height: 100%;
    overflow-y: scroll;
}

#relacionados img{
    width: 100%;
}

#relacionados ul li{
    margin-bottom: 10px;
    border: 10px solid rgba(83, 82, 82, 0.5);
}

#relacionados ul li:hover{
    margin-bottom: 10px;
    border-color: white;
}

#footer{
    grid-area: f;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    background-color: rgba(83, 82, 82, 0.5);
}